@import url(https://fonts.googleapis.com/css?family=Dosis);

body {
  background-color: #fff;
  background: url("../images/Background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: 'Dosis', sans-serif;}

h1 {
  background: #ffffff url("../images/cuisine-logo.png") no-repeat;
  width: 230px;
  height: 250px;
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

h2 {
  margin: 1.75em 0 0 0;
  color: #adffda; 
  font-weight: normal;}

h2 + p {
  margin: 0.25em 0 0 0;}
p + p {
  margin: 0;}
p + h2 {
  margin: 10px 0 0 0;}

/* message under the logo */

#message {
  float: left;
  clear: left;
  background-color: #fff;
  color: #fff;
  width:170px;
  padding: 18px 30px;
  text-align: center;}

/* black bar across the right hand side of the page */

#info {
  background-color: #F96716;
  color: #9AEF92;
  width: 200px;
  padding: 0 15px;
  text-align: center;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 20%;}

/* details in the black bar */

#restaurantName {
  text-transform: uppercase;
  text-align: center; 
  font-size: 120%;
  margin-top: 10px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff; 
  padding: 10px 0;}

#restaurant1 {
  margin-top: 1em; 
  border-top: 1px solid #9AEF92; 
  padding-top: 1em;} 
#restaurant2 {
  border-bottom: 1px solid #9AEF92; 
  padding-bottom: 1em;}

#breakfastService{
padding-top: 1em;
}

#promotion {
  margin-top: 1em; 
  border-top: 3px solid #fff; 
  border-bottom: 3px solid #fff;
  
  
}

  /*#my-Form{
    color: #000;
    display: inline-block;
    margin-top: 8em;
  }*/

#tables {
  font-size: 300%;
  color: #fff;
  display: inline-block;
  margin: 0;}

#tableRate{
  text-decoration: line-through;
  display: inline-block;
  float: left;
  padding-top: 10px;}

 nav{
   height: 80px;
   width: 100;
   background: #488722;
   ;
   
 }

 label.icon{
   font-size: 35px;
   font-weight: bold;
   color: #fff;
   padding: 0 55px;
   line-height: 105px;
   margin-left: 0px;

 }
 
 nav ul{
   float: right;
   margin-right: 40px;
 }

 nav li{
   display: inline-block;
   margin: 0 8px;
   line-height: 80px;
 }

 nav a{
   color: white;
   font-size: 18px;
   text-transform: uppercase;
   border: 1px solid transparent;
   padding: 7px 10px;
   border-radius: 3px;
 }


 a.options,a:hover{
   border: 1px solid white;
   transition: .5s;
 }

 
 #specialRate {  
  font-size: 440%;
  color: #fff;
  display: inline-block;
  padding: 10px 0 20px 0;
  margin: 0;}

#offer {
  text-transform: uppercase;
  color: #fff;
  font-size: 75%;}

.true, .false {
  padding: 0 50px 0 50px;
  line-height: 28px;
  text-align: left;
  background-image: url("../images/check-cross.png");
  background-position: 120px 0;
  background-repeat: no-repeat;}

.false {
  background-position: 120px -28px;}

/* footer */

#my-Form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  background-color: #F96716;}

  #my-Form {
  padding: 10px;
  margin: 0;}

.data {
  padding: 10px;}